n8n/workflows/outreach_trigger.json
{
  "name": "Outreach Daily Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger (10:00 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastgram_api:8000/outreach/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "your_secure_api_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"dry_run\": false}"
      },
      "id": "2",
      "name": "FastAPI: Start Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "started"
            }
          ]
        }
      },
      "id": "3",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "content": "Alert: Outreach failed to start or is blocked.\nCheck FastAPI logs."
      },
      "id": "4",
      "name": "Error Alert (Stub)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger (10:00 AM)": {
      "main": [
        [
          {
            "node": "FastAPI: Start Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI: Start Outreach": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [],
        [
          {
            "node": "Error Alert (Stub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
