n8n/workflows/outreach_trigger.json
{
  "name": "Outreach Daily Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastgram_api:8000/outreach/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "your_secure_api_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"dry_run\": false}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "2",
      "name": "FastAPI: Start Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "started"
            }
          ]
        }
      },
      "id": "3",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_ALERT_WORKFLOW_ID",
        "mode": "passThrough",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "values": {
            "workflow_name": "Outreach Daily Trigger",
            "error_message": "={{ $json.detail || 'Unknown error starting batch' }}"
          }
        }
      },
      "id": "4",
      "name": "Execute Error Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 450]
    },
    {
      "parameters": {
        "content": "={{ 'Успішно запущено батч на ' + $json.batch_size + ' контактів. Task ID: ' + $json.task_id }}"
      },
      "id": "5",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 150]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "FastAPI: Start Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI: Start Outreach": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Error Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
